body {
    margin:0;
    padding:0;
    line-height:1.5em;
    height: 100%;
}

#main {
    position:absolute;
    top:10%;
}

#top_hud {
    position:absolute;
    top:0;
    width:100%;
    height:10%;
    background-color:black;
    visibility:visible;
}

#top_hud h1 {
    text-align:center;
    color: white;
}

#bottom_hud {
    position:absolute;
    bottom:0;
    width:100%;
    height:10%;
    background-color:black;
    visibility:visible;
}

.grid {
    margin: 0 auto;
    background-color: blue;
    visibility:visible;
    height: 100%;
}

.col {
    float: left;
    overflow: hidden;
    width: 20%;
    background-color: gray;
    height: inherit;
}
