@import "mixins.less";

.hud {
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: black;
    color: white;
    visibility: visible;
    text-align: center;
    .boxShadow;
}

#top_hud {
    top: 0;
    .hud;
}

#doButton {
    top: 2px;
    right: 2px;
    bottom: 2px;
    position: absolute;
    float: right;
    vertical-align: top;
}

#bottom_hud {
    bottom: 0;
    .hud;
}

.grid {
    margin: 0 auto;
    visibility:visible;
    height: 100%;
}

.col {
    display: block;
    position: relative;
    float: left;
    overflow: hidden;
    width: 25%;
    background-color: black;
    height: inherit;
}

.content {
    position: absolute;
    top: 40%;
}

.logo {
    position: absolute;
    top: 0;
    bottom: 0;
    vertical-align: 50%;
    display: table-cell;
    vertical-align: middle;
}

.hud_button {
    width: 100%;
    height: 100%;
}
