@import "mixins.less";

.max {
    width: 99%;
    height: 100%;
    font-size: 5em;
    text-align: center;
    border-style: none;
    border: 0px solid;
}

*:focus {
    outline: none;
}

textarea {
    .max;
}

input {
    
}

.leftColumn {
	float: left;
}

.middleColumn {
	text-align: center;
	border: 0px solid;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	text-align: center;
	.boxShadow;
}

.rightColumn {
	float: right;
}

