.boxShadow {
	-moz-box-shadow: 0 0 15px #888;
	-webkit-box-shadow: 0 0 15px #888;
	box-shadow: 0 0 15px #888;
}

.max_height { 
    height: 100%;
}

.max_width {
    width: 100%;
}

.max {
    .max_width;
    .max_height;
}
