@import "mixins.less";

.review {
    text-align: center;
    width: 100%;
    height: 100%;
}

.review ul {
    height: 100%;
}

.review li {
    height: 20%;
}

#calendar {
	.max;
}

.review button {
    width: 100%;
    height: 100%;
}

#review_project_list {
    height: 89.5%;
}

.task_button {

}

.completed_task_button {
    background: purple;
}
